.conteiner{
    display:flex;
    
    flex-direction: column;
    align-items: center;
    
}
*{
    margin:0px;
    padding: 0px;
}
.top_conteiner{
    width:490px;
    
    margin:20px;



}
.bottom_conteiner{
   
    width:390px;
    border:10px solid blue;
    padding:40px;
    


}